<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Banking of Future</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="my-body">
    <div class="site-title">
        <div class="logo-container">
            <img class="logo-image" src="" th:src="@{/images/logo.jpg}" alt="image not found">
        </div>
        <div class="header-project">
            <p class="project-parag">Welcome to Banks Of Future</p>
        </div>
    </div>
    <div class="huge">
        <div class="big-container">
            <img src="" th:src="@{/images/banking.jpg}" alt="image not found">
        </div>
        <div class="login">
            <p class="text-to-login">Click to
                <a th:href="@{/register}" class="a-parag"> Signup</a> or
                <a th:href="@{/login}" class="a-parag">Sign In</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>